@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*The asterisk is the universal CSS selector that selects all items in the HTML file*/
/*The scroll-bevior element set to smooth so page scroll transitions with button clicks are smooth*/

body {
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 1000;
    border-top: 1px solid #46494c;
    border-bottom: 1px solid #46494c;
}
/*This styling will apply for the header elements. In this case the navigation bar*/

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}
/*Container div in set to display flex, which creates a flexbox, meaning elements inside the container resize to fit the available space of the window*/

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.logo{
    color: rgb(21 21 25);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2rem;
    padding: 1rem 0;
}

.logo span{
    font-weight: 300;
}

.nav-links > ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 2rem;
    font-weight: 500;
    color: rgb(21 21 25);
    padding: 1rem .8rem;
    letter-spacing: 1px;
    font-size: .88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
/*All anchor atribute children of the nav-link class recieve this styling*/

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    color: #1985a1;
    transition: .3s ease
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 7.5rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}
/*The position of the unordered list of the dropdown class is relative to Explore button*/

.dropdown-link > a {
    display: flex;
    color: rgb(21 21 25);
    background-color: white;
    padding: .5rem 1rem;
    font-size: .85rem;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    border-left: 1px solid rgb(230, 229, 229);;
    border-right: 1px solid rgb(230, 229, 229);;
}
/* This section affecs the styling of the dropdown links.*/

.dropdown-link:hover > a{
    color: #1985a1;
}
/*For all anchor children of the dropdown link class on hover will change colour*/

.dropdown-link:first-of-type > a{
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid rgb(230, 229, 229);;
}
  
  .dropdown-link:last-of-type > a{
    border-bottom: 1px solid rgb(230, 229, 229);;
    border-radius: 0px 0px 10px 10px;
}
/* The above 2 sections of code target the last element and the first element. The code gives the dropdown link a border radius and a outline*/

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    border-top: 1px solid rgb(230, 229, 229);
    border-left: 1px solid rgb(230, 229, 229);
    background-color: rgb(21 21 25);
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link{
    position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

main {
    background-color: rgb(21 21 25);
}

.even-columns {
  display: grid;
  gap: 1.5rem;
}

.site-header {
  background-size: cover;
  padding: 5rem;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/* This code targets the header of the website. (Below the navigation bar), so the background, title and subtitle*/

.australia {
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1503022651232-aa1b2a1503a3?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.cambodia {
    background-position: bottom;
    background-image: url("https://images.unsplash.com/photo-1540525080980-b97c4be3c779?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.china {
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1508804052814-cd3ba865a116?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.fiji {
    background-position: top;
    background-image: url("../images/Fiji-coast.jpg");
}

.newzealand {
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1595125990323-885cec5217ff?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
}

.rarotonga {
    background-position: top;
    background-image: url("../images/Rarotonga-beachside.jpg");
}

.singapore {
    background-position: center;
    background-image: url("../images/Singapore-Marina-Bay-Sands.jpg");
}

.vietnam {
    background-position: top;
    background-image: url("../images/Vietnam-river.jpg");
}
/* The code above assigns an image from either unsplash or the images folder to each HTML page. Only the files with the class of the country will be affected.*/
/* By coding it this way, it allows me to change the position of the background image*/

.site-title {
    font-family: 'sans-serif', sans-serif;
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
    position: absolute;
    top: 20rem;
    left: 50px;
}

@media only screen and (max-width: 600px) {
    .site-title {
        font-size: 3.5rem;
    }
}
/* This media query recognises if the width of the screen is lower than 600px.I chose 600px as it is the average size of most phones*/
/* This allows the larger lext to shrink on smaller screen ratios, mostly targeting phones.*/

.subtext {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    top: 28rem;
    left: 50px;
}

.card-list {
    position: relative;
    display: flex;
    bottom: -4rem;
    background-color: rgb(21 21 25);
    padding: 10rem 14rem;
    overflow-x: scroll;
    justify-content: flex-start;
}
/**/

h2 {
    padding: 1rem 0rem 1rem;
    color: #1985a1;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'sans-serif', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    padding: 0rem 0rem 1rem;
    color: rgb(21 21 25);
    text-align: center;
    letter-spacing: 0.8px;
    font-size: .8rem;
    
}

.card {
    height: 480px;
    width: 350px;
    min-width: 350px;
    padding: 1.2rem;
    border-radius: 6px;
    background: #fff;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}
/* This section of code targets and styles each individual card. */

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(10px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:first-of-type{
    margin-left: 0rem;
}

.card:last-of-type{
    margin-right: 6rem;
}

.hidden {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1.25s;
}

/* All elements with the hidden class will be invisible until the intersection observer in JavaScript gives the elements the show class*/

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
/* The @media element with 'prefers-reduced-motion' disables the transition for anyone who does not want animations*/

.image {
    height: 200px;
    border-radius: 6px;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/* When elements are given the show class, they become visible on screen which a slight sliding transition*/

.card:nth-child(1) {
    transition-delay: 160ms;
}

.card:nth-child(2) {
    transition-delay: 120ms;
}

.card:nth-child(3) {
    transition-delay: 80ms;
}

.card:nth-child(4) {
    transition-delay: 40ms;
}

/* This part of the code creates a delay on the animation of the cards, which creates a sliding in effect*/