*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: aqua;
}

h1
{
    background-color: aqua;
}

html{
    scroll-behavior: smooth;
}

.p1{
    min-height: 100vh;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color:aqua;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: block;
    margin: 0 5px;
}

nav ul li a{
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
}

nav ul ul li a:hover{
    color: cyan;
    box-sizing: none;

}

nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    color: cyan;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0,.3);
}

nav ul ul li{
    line-height: 50px;
}